* {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    background-color: black;
}

main {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}
header {
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
header h1 {
    margin: 0;
}
#login-window,
#signup-window, 
#button-logout,
#scoreButton {
    margin: 0;
    background-image: linear-gradient(blue, rgb(117, 225, 255));
    width: 120px;
    height: 60px;
    transition: width 1s ease;
}
#login-window:hover,
#signup-window:hover, 
#button-logout:hover,
#scoreButton:hover {
    background-image: linear-gradient(rgb(204, 0, 255), rgb(0, 81, 255));
    width: 160px;
}
#scoreButton {
    margin-left: 20px;
}
#button-logout{
    margin: 0;
    background-image: linear-gradient(blue, rgb(117, 225, 255));
    width: 120px;
    height: 60px;
    transition: width 1s ease;
    margin-left: 10px;
}
#loggedInContainer{
display: flex;
}
#loggedOffContainer{
margin: 0
}
#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    color: white;
    padding-bottom: 20px;
}
#mainContent h2 {
    font-size: 80px;
    margin-bottom: 50px;
    margin-top: 10px;
}
#mainContent button {
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
}
#goToQuiz {
    background-color: rgb(119, 0, 255);
    margin: 10px;
    margin-bottom: 40px;
}
#goToQuiz:hover {
    background-image: linear-gradient(rgb(132, 0, 255), rgb(0, 81, 255));
}
#goRankings {
    background-color: rgb(247, 0, 255);
    margin-bottom: 21px;
}
#goRankings:hover {
    background-image: linear-gradient(rgb(234, 0, 255), rgb(0, 81, 255));
}
footer {
    width: 100%;
    background-color: white;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    height: 100px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
}
#timer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}
.timer-stopped {
    color: red;
}
.timer-go {
    color: white;
}
footer h3 {
    font-size: 0.9em;
    text-align: center;
}
#footer-devs-container {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
@keyframes rainbow {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
}
.rainbow-text {
    font-size: 2em;
    font-weight: bold;
    animation: rainbow 3s infinite;
}
/*Añadido (A REVISAR) para pintar las preguntas*/
article h3,
h4 {
    padding: 10px 0 0 0;
}
#goButton {
    display: block;
    margin-top: 200px;
    margin-bottom: 80px;
}
#questionsMainContainer {
    padding-top: 20px;
    margin-right: 110px;
    margin-left: 110px;
}
#questionTitle {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
#questionTitle h4 {
    padding-bottom: 10px;
    font-size: 20px;
}
#questionTitle h3 {
    color: white;
    font-size: 20px;
}
#questionCard {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Clases para cuando las respuestas sean correctas o incorrectas*/
.correct {
    background-color: greenyellow !important;
}

.incorrect {
    background-color: red !important;
}

#answer1 button {
    background-color: rgb(90, 222, 255);
}
#answer2 button {
    background-color: rgb(255, 236, 131);
}
#answer3 button {
    background-color: rgb(123, 255, 151);
}
#answer4 button {
    background-color: rgb(255, 105, 105);
}
#questionCard button {
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    width: 400px;
    height: 90px;
}
#nextButton {
    margin-top: 100px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    margin-left: 45%;
    margin-bottom: 320px;
}
#message{
    margin-left: 20px;
    margin-top: 20PX;
}
/* User Authentication Styles */
#pfpMessageContainer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
#labelPfp {
    display: block;
    width: fit-content;
}
#labelPfp:hover {
    cursor: pointer;
}
#profilePictureContainer {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}
#imgProfilePicture {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
#login-window,
#signup-window {
    padding: 5px 10px 7px 10px;
}
#auth-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}
#login-container,
#signup-container,
#statsContainer {
    background-color: #fff;
    height: fit-content;
    width: 60%;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fa-xmark {
    pointer-events: none;
}
.close-auth-window {
    padding: 4px 10px 5px 10px;
    /* margin-bottom: 10px; */
    margin-left: 90%;
    box-sizing: border-box;
}
#login-container label,
#signup-container label,
#statsContainer label {
    margin-top: 100px;
}
#login-container input,
#signup-container input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
#login-container input[type=submit],
#signup-container input[type=submit] {
    width: 100%;
    background-color: darkblue;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45A049;
}
.show {
    pointer-events: auto !important;
    opacity: 1 !important;
}
.hidden {
    display: none !important;
}
.audio-button {
    display: inline-block;
    align-self: center;
    width: 50px;
    height: 30px;
    background: url('./assets/images/audioOff.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    margin-left: 0;
    margin-top: 20px;
  
}
.audio-button.playing {
    background: url('./assets/images/audioOn.png') no-repeat center center;
    background-size: cover;
}
@media (max-width: 1200px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    header h1 {
        margin-bottom: 20px;
    }
    #mainContent h2 {
        font-size: 60px;
    }
    #mainContent button {
        font-size: 1.2em;
    }
    #nextButton {
        margin-left: 35%;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    header {
        padding: 15px;
    }
    header h1 {
        font-size: 24px;
    }
    #login {
        width: 50px;
        height: 50px;
    }
    #mainContent {
        margin-top: 100px;
    }
    #mainContent h2 {
        font-size: 50px;
    }
    #nextButton {
        margin-left: 35%;
    }
    #mainContent button {
        font-size: 1em;
        padding: 8px 16px;
    }
}
@media (max-width: 480px) {
    header {
        padding: 10px;
    }
    header h1 {
        font-size: 20px;
    }
    #login {
        width: 40px;
        height: 40px;
    }
    #nextButton {
        margin-left: 35%;
    }
    #mainContent {
        margin-top: 50px;
    }
    #mainContent h2 {
        font-size: 40px;
    }
    #mainContent button {
        font-size: 0.8em;
        padding: 6px 12px;
    }
    footer {
        padding: 30px;
    }
}



/*Nuevas*/
#results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#results-article {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#result {
    color: white;
    align-self: center;
    font-size: 40px;
}

#result-message {
    color: white;
    align-self: center;
    margin: 70px;
    text-align: justify;
}

#results-article #result {
    background-color: rgb(1, 41, 241);
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#save-score {
    background-color: rgb(139, 157, 247);
    align-self: center;
    max-width: 200px;
    margin-top: 30px;
}

.button-disabled {
    opacity: 0.3;
    pointer-events: none;
}

#button-back-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}


#button-back {
    background-color: rgb(139, 157, 247);
    align-self: center;
    max-width: 200px;
    padding: 10px;
    cursor: pointer;   
}

/*Ranking Table*/
#ranking {
    display: flex;
    justify-content: center;
}
table {
    margin: 20px;
}

td {
    padding: 20px;
}

#head-table th, td {
    color: white;
}
.user-image-table img{
    width: 20px;
    height: 20px;
}